@import '../global.scss';

.navbar {
  height: 100vh;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $primary;
  color: white;
}
.navbar > .navbar-title {
  font-weight: bold;
  font-size: 28px;
  margin: 10px 25px;
}
.navbar > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar > ul > li {
  padding: 10px 25px;
}
.navbar > ul > li.item {
  padding: 10px 35px;
}
.navbar > ul > li.item:hover {
  background-color: #2d667987;
}
.navbar-section-header {
  font-weight: 500;
}
.content {
  margin: 0 0 0 200px;
  max-width: 100%;
  height: 100%;
}
