@import "../global.scss";
.paper {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 3px 4px 8px 1px #b7b7b7;
}
.card {
  width: 100%;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title.big {
  font-size: 50px;
  font-weight: 500;
}
.authors-block {
  margin-top: 10px;
  text-align: center;
}
.header {
  margin-bottom: 40px;
}
.paper-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.text-input {
  height: 200px;
  width: 100%;
  border: none;
  overflow: hidden;
  resize: none;
  font-size: 17px;
  &:focus {
    border: none;
    outline: none;
  }
}
.btn-icon {
  padding: 5px 10px;
  border: none;
  background-color: $accent;
  font-size: 0.55rem;

  &:focus {
    outline: none;
  }

  &:hover {
    transition: 0.7s;
    background-color: #a76d0d;
  }
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 270px;
  hr {
    width: 100%;
    border-color: #ececec5e;
  }
}

.container {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: $medium) {
    flex-direction: column;
  }
}

.key-input {
  border: none;
  width: 100%;
  font-size: 17px;
  background-color: white;
  &:focus {
    outline: none;
  }
}
.simple-input{
  border: none;
  background-color: white;
  text-align: center;
  &:focus {
    outline: none;
  }
}

.preview {
  margin: 10px 0;
  font-family: "Courier New", monospace;
  font-size: 20px;
}

.card-ok {
  box-shadow: 3px 4px 8px 1px #75c175;
  transition: 1000ms;
}

.card-error {
  box-shadow: 3px 4px 8px 1px #d07575;
  transition: 1000ms;
}

.copy-btn{
  color: grey;
  cursor: pointer;
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 15px;
  right: 15px;
  border-radius: 50%;
  padding: 10px;
  &:hover{
    background-color: #dbdbdbc9;
    transition: 500ms;
  }
}